@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

/* navigation */

nav{
  background-color: #233e50;
  display: flex;
  flex-direction: row;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 5rem;
  font-size: 20px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
nav img{
  width: 50px;
}
/* Welcome */

.welcome{
  background-color: #0a2640;
  color: #fff;
  height: 600px;
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

h1 {
  font-size: 3rem;
  padding-top: 3rem;
}

p {
  opacity: 0.5;
  font-size: large;
}
/*School image*/
/* aboutstyle */
.new-about{
  background-color: #ffffff;
  color: #000000;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
.aboutus{
  padding: 2%;
  text-align: center;
}
.about{
  color: #000000;
  padding: 4rem 8rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
}
.new-about{
  margin-top: 100px;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


/* e learning */
.e-learning{
  background-color: #0a2640;
  color: #fff;
  height: 500px;
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

h1 {
  font-size: 3rem;
}

p {
  opacity: 0.5;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
button{
  padding: 15px 50px;
  border-radius: 100px;
  border: none;
  background-color: #65e4a3;
}
.story{
  background-color: #fff;
  border: 2px solid black;
}

.main{
  color: #fff;
}

  
.pa{
  color: #000000;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.moti{
  text-align: center;
  background-color: #0a2640;
  height: 450px;
  color: #fff;
  align-items: center;
  padding: 7rem;
}

.to{
  padding-bottom: 2rem;
}

.footer-distributed{
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed .footer-left img{
  width: 70px;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #000;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #000;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  color: #000;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #000;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #000;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #000;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}



/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

.button {
  border-radius: -1px;
  background-color: lightseagreen;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}